/*
 * Define the layout of the page.
 */

.landingPage .landingList {
    width: 100%;
    height: 100%;
    margin-bottom: 4px;
}

.landingPage .landingList .win-groupHeader {
    margin: 0;
    padding: 0;
    margin-left: 73px;
}

.landingPage .landingList .win-groupHeader h1 {
    font-size: 20pt;
    line-height: 24pt;
    margin: 0;
    padding: 0;
    height: 36pt;
}

.landingPage .landingList .win-groupHeader:first-of-type {
    margin-left: 120px;
}

.landingPage .landingList .win-item {
    width: 252px;
    height: 252px;
    margin-right: 8px;
    margin-bottom: 8px;
}
.landingPage .landingList .largeTileTextTemplate {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr 92px;
}

.landingPage .landingList .largeTileTextTemplateBackground {
    -ms-grid-row-span: 2;
}

.landingPage .landingList .largeTileTextTemplateOverlay {
    -ms-grid-row: 2;
    -ms-grid-row-align: stretch;
    background: rgba(22,22,22,1);
    padding: 8px 12px;
}

.landingPage .landingList .largeTileTextTemplateLargeText {
    font-size: 11pt;
    line-height: 15pt;
    max-height: 45pt;
    color: rgba(255,255,255,1);
    overflow: hidden;
    text-overflow: ellipsis;
}

.landingPage .landingList .largeTileTextTemplateSmallText {
    font-size: 9pt;
    line-height: 15pt;
    color: rgba(255,255,255,0.49);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.landingPage .landingList .largeTileTextTemplateSmallTextList {
    font-size: 9pt;
    line-height: 15pt;
    opacity: 0.49;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (-ms-view-state: snapped) {
.landingPage .landingList .win-item {
    width: 282px;
    height: 44px;
    padding: 8px 0px 8px 8px;
    margin-left: 4px;
    margin-right: 16px;
}

.landingPage .landingList .largeTileTextTemplate {
    display: -ms-grid;
    -ms-grid-columns: 44px 8px 1fr;
    -ms-grid-rows: 1fr;
}

.landingPage .landingList .largeTileTextTemplateBackground {
    -ms-grid-column: 1;
    -ms-grid-row-span: 1;
}

.landingPage .landingList .largeTileTextTemplateOverlay {
    -ms-grid-column: 3;
    -ms-grid-row: 1;
    -ms-grid-row-align: stretch;
    background: transparent;
    padding: 0;
}

.landingPage .landingList .largeTileTextTemplateLargeText {
    font-size: 11pt;
    line-height: 15pt;
    max-height: 30pt;
    color: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
}

.landingPage .landingList .largeTileTextTemplateSmallText {
    display: none;
}
}
