body {
}

#content {
    display: -ms-grid;
    -ms-grid-rows: 40px 100px 1fr;
	-ms-grid-columns: 1fr;
}

#content-header
{
	-ms-grid-column: 1;
	-ms-grid-row: 1;	
}

#content-display
{
	-ms-grid-column: 1;
	-ms-grid-row: 2;	
    display: -ms-grid;
    -ms-grid-rows: 30px 1fr;
	-ms-grid-columns: 1fr;	
}


#current-folder {
    -ms-grid-column: 1;
	-ms-grid-row: 1;	
}

#folder-content {
    -ms-grid-column: 1;
	-ms-grid-row: 2;	    	
}