/* This selector is used to prevent ui-dark/light.css from overwriting changes
   to .win-surface. */
.groupeditemspage .groupeditemslist .win-horizontal.win-viewport .win-surface {
    margin-left: 46px;
    margin-bottom: 60px;
}

.groupeditemspage .groupeditemslist {
    height: 97%;
    position: relative;
    width: 100%;
    z-index: 0;
}

    .groupeditemspage .groupeditemslist .win-groupheader {
        margin: 0;
        margin-left: 70px;
        padding: 0;
    }

        .groupeditemspage .groupeditemslist .win-groupheader .group-title {
            margin-bottom: 15px;
        }

    .groupeditemspage .groupeditemslist .win-horizontal.win-viewport .win-container {
        margin-bottom: 6px;
        margin-right: 6px;
    }
    .groupeditemspage .groupeditemslist .win-horizontal.win-viewport .win-surface
{
    margin-left: 50px;
    margin-bottom: 60px;
}

    .groupeditemspage .groupeditemslist .win-item {
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 1fr 90px;
        display: -ms-grid;
        width: 300px;
        height: 520px;
        overflow:hidden;
     }

           
            /*Templates for albums of SkyDrive Notification Sample*/
            .groupeditemspage .groupeditemslist .win-item .item-image {
                -ms-grid-row-span: 2;
                overflow: hidden;
                fit:  meet;
            }

            .groupeditemspage .groupeditemslist .win-item .item-overlay {
                -ms-grid-row: 2;
                -ms-grid-row-align: stretch;
                padding-right:  12px;
            }

            .groupeditemspage .groupeditemslist  .win-item .item-overlay .item-title {
                font-size: 19pt;
                font-weight:100;
                font-family: 'Segoe UI';
                line-height: 45pt;
                max-height: 45pt;
                color: rgba(255,255,255,1);
                overflow: hidden;
                text-align:right;
            }

            .groupeditemspage .groupeditemslist  .win-item .item-overlay .item-subtitle {

                font-size: 18pt;
                line-height: 15pt;
                color: rgba(255,255,255,1);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                text-align:right;
            }

@media screen and (-ms-view-state: fullscreen-landscape), screen and (-ms-view-state: fullscreen-portrait), screen and (-ms-view-state: filled) {
    .groupeditemspage .groupeditemslist .win-item .item-overlay {
        background: rgba(0,0,0,0.65);
    }

        .groupeditemspage .groupeditemslist .win-item .item-overlay .item-title {
            color: rgba(255,255,255,0.87);
        }

        .groupeditemspage .groupeditemslist .win-item .item-overlay .item-subtitle {
            color: rgba(255,255,255,0.6);
        }
}

@media screen and (-ms-view-state: snapped) {
   .groupeditemspage .groupeditemslist {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 0;
}
    
     .groupeditemspage .groupeditemslist .win-groupheader {
        margin: 0;
        margin-left: 5px;
        padding: 0;
    }

        .groupeditemspage .groupeditemslist .win-groupheader .group-title {
            margin-bottom: 15px;
            font-size: large;
        }

    .groupeditemspage .groupeditemslist .win-vertical.win-viewport .win-container {
        margin: 10px 10PX 10px 10PX;
    }
         .groupeditemspage .groupeditemslist .win-vertical.win-viewport .win-container:hover {
            outline: rgba(255, 255, 255, 0.3) solid 10px;
        }

    .groupeditemspage .groupeditemslist .win-item {
        -ms-grid-columns: 70px 1fr;
        display: -ms-grid;
        height: 70px;
        width: 230px;
       }

            /*Templates for albums of SkyDrive Notification Sample*/
            .groupeditemspage .groupeditemslist .win-item .item-image {
                -ms-grid-column: 1;
                overflow: hidden;
                fit:  meet;
            }

            .groupeditemspage .groupeditemslist .win-item .item-overlay {
                -ms-grid-column: 2;
                -ms-grid-row-align: stretch;
                padding-right:  12px;
            }

            .groupeditemspage .groupeditemslist  .win-item .item-overlay .item-title {
                font-size:medium ;
                font-weight:100;
                font-family: 'Segoe UI';
                line-height: 20pt;
                max-height: 20pt;
                color: rgba(255,255,255,1);
                overflow: hidden;
                text-align:left;
                padding-left:10px;
            }

            .groupeditemspage .groupeditemslist  .win-item .item-overlay .item-subtitle {
                font-size: medium;
                line-height: 15pt;
                color: rgba(255,255,255,1);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                text-align:left;
                padding-left:10px;
            }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .groupeditemspage .groupeditemslist .win-horizontal.win-viewport .win-surface {
        margin-left: 26px;
    }
}
