/* This selector is used to prevent ui-dark/light.css from overwriting changes
   to .win-surface. */
.groupdetailpage .grouplist .win-horizontal.win-viewport .win-surface {
    margin-left: 120px;
    margin-bottom: 20px;
}

.groupdetailpage .grouplist {
    height: 97%;
    position: relative;
    width: 100%;
    z-index: 0;
}

    .groupdetailpage .grouplist .win-groupheader {
        height: 60px;
        margin-left: 0px;
        margin-right: 70px;
        padding: 0;
        width: 100%;
    }

        .groupdetailpage .grouplist .win-groupheader .group-subtitle {
            margin: 0;
            margin-bottom: 11px;
            max-height: 48pt;
            overflow: hidden;
            padding-bottom: 4px;
        }

    .groupdetailpage .grouplist .win-item {
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 130px 1fr;
        display: -ms-grid;
        width: 130px;
        height: 170px;
        
        overflow:hidden;
        
        
    }
        
        .groupdetailpage .grouplist .win-item .item-image {
            -ms-grid-row: 1;
            overflow: hidden;
            fit: meet;
        }
        
        .groupdetailpage .grouplist .win-item .item-info {
            -ms-grid-row: 2;
            margin-top: 4px;
            margin-left: 10px;
        }

            .groupdetailpage .grouplist .win-item .item-info .item-title {
                 font-size: 9pt;
                line-height: 15pt;
                font-family: 'Segoe UI';
                max-height: 20px;
                /*overflow: hidden;*/
            }
            .groupdetailpage .grouplist .win-item .item-info .item-subtitle {
                 font-size: 9pt;
                line-height: 15pt;
                font-family: 'Segoe UI';
                max-height: 20px;
                /*overflow: hidden;*/
            }

    .groupdetailpage .grouplist .win-horizontal.win-viewport .win-container {
        margin-bottom: 26px;
        margin-right: 60px;
    }

        .groupdetailpage .grouplist .win-horizontal.win-viewport .win-container:hover {
            outline: rgba(255, 255, 255, 0.3) solid 10px;
        }

@media screen and (-ms-view-state: snapped) {

    .groupdetailpage .grouplist .win-horizontal.win-viewport .win-surface {
        margin-left: 40px;
        margin-bottom: 20px;
    }

    .groupdetailpage .grouplist {
        height: 100%;
        position: initial;
        width: 100%;
    }

        .groupdetailpage .grouplist .win-groupheader {
            height: 60px;
            margin-left: 0px;
            padding: 0;
            width: 100%;
            font-size: medium;
            visibility: visible;
        }

        .groupdetailpage .grouplist .win-groupheader .group-subtitle {
            margin: 0;
            margin-bottom: 11px;
            max-height: 48pt;
            overflow: hidden;
            padding-bottom: 4px;
            font-size:medium;
            visibility:visible;
        }

    .groupdetailpage .grouplist .win-vertical.win-viewport .win-container {
        margin: 10px 10px 10px 10px;
    }

        .groupdetailpage .grouplist .win-vertical.win-viewport .win-container:hover {
            outline: rgba(255, 255, 255, 0.3) solid 10px;
        }

    .groupdetailpage .grouplist .win-item {
        display:list-item;
        width: 100%;
        height: 70px;
    }
        .groupdetailpage .grouplist .win-item .item-image {
            overflow: hidden;
            fit: meet;
            width:70px;
            height: 70px;
        }
        
        .groupdetailpage .grouplist .win-item .item-info {
            -ms-grid-row-align: stretch;
            padding-right:  12px;
            float:right;
            width:200px;
            height: 70px;
            position:relative;
            text-align: start;
        }

            .groupdetailpage .grouplist .win-item .item-info .item-title {
                font-size:small ;
                font-weight:200;
                font-family: 'Segoe UI';
                line-height: 20pt;
                max-height: 20pt;
                color: rgba(255,255,255,1);
                overflow: hidden;
                text-align:left;
                padding-left:10px;
            }
            .groupdetailpage .grouplist .win-item .item-info .item-subtitle {
                font-size: small;
                line-height: 15pt;
                color: rgba(255,255,255,1);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                text-align:left;
                padding-left:10px;
            }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .groupdetailpage .grouplist .win-horizontal.win-viewport .win-surface {
        margin-left: 100px;
    }
}
