.errorArea2 {
     width:100%;height:150px;-ms-grid-rows: 1fr 60px;-ms-grid-columns: 300px;display:-ms-grid;background-color: #fff;
}
.errorTitle2 {
    -ms-grid-row: 1;text-align:left;  -ms-grid-row-align:start;margin-left:8px;margin-top:8px;height:100%;color:  #000;
}
.errorBtns2 {
    -ms-grid-row: 2;text-align:right;-ms-grid-column-align:center;margin-top:15px;height:100%;
}

.itemdetailpage section[role=main] {
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: auto;
}

    .itemdetailpage section[role=main] article {
        height: 80%;
        width: 100%;
        text-align: center;
    }

        .itemdetailpage section[role=main] article header .item-title {
            margin-bottom: 20px;
            margin-top: 0;
        }

        .itemdetailpage section[role=main] article header .item-subtitle {
            margin-bottom: 20px;
            margin-top: 0;
        }

        .itemdetailpage section[role=main] article .item-image {
            height: 90%;
            fit: meet;
        }

        .itemdetailpage section[role=main] article .item-content p {
            margin-bottom: 20px;
            margin-right: 20px;
            vertical-align: baseline;
        }

@media screen and (-ms-view-state: snapped) {
    .itemdetailpage section[role=main] article {
        /* Define a single column, vertically scrolling article in snapped mode. */
        -ms-grid-columns: 300px 1fr;
        -ms-grid-row: 2;
        -ms-grid-rows: auto 60px;
        display: -ms-grid;
        height: 100%;
        margin-left: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        width: 300px;
    }

        .itemdetailpage section[role=main] article .item-image {
            height: 140px;
            width: 280px;
        }

        .itemdetailpage section[role=main] article .item-content {
            padding-bottom: 60px;
        }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .itemdetailpage section[role=main] article {
        margin-left: 100px;
    }
}
